<md-content layout="column" flex layout-align="start stretch">
  <md-card ng-repeat="entity in abmCtrl.getEntities()">
    <md-card-content class="md-padding">
      <div layout="column" flex>
        <div layout="row" layout-align="space-between center">
          <span class="md-title" flex>{{entity.apellido}}, {{entity.nombre}}</span>
          <span flex="30" class="md-subhead">{{entity.transient.obraSocial.descripcion}}</span>
        </div>
        <div layout="row">
          <span flex="30">
            <md-icon md-svg-src="phone"></md-icon>
            {{entity.telefono ? entity.telefono : '(vacío)'}}
          </span>
          <span>
            <md-icon md-svg-src="email"></md-icon>
            {{entity.email ? entity.email : '(vacío)'}}
          </span>
        </div>
        <span flex="10" layout="row" layout-align="end center">
          <md-button class="md-icon-button" ui-sref="pacientesEdit({idEntity: entity.id})">
            <md-tooltip md-direction="top">Editar</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="abmCtrl.showConfirmDelete($event, entity)">
            <md-tooltip md-direction="top">Borrar</md-tooltip>
            <md-icon md-svg-icon="delete"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="abmCtrl.showConfirmDelete($event, entity)">
            <md-tooltip md-direction="top">Dar turno</md-tooltip>
            <md-icon md-svg-icon="calendar-plus"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="abmCtrl.mostrarHistoriaClinica($event, entity)">
            <md-tooltip md-direction="top">Ver historia clínica</md-tooltip>
            <md-icon md-svg-icon="book"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="entity.transient.mostrarDetallePaciente = !entity.transient.mostrarDetallePaciente">
            <md-tooltip md-direction="top">Ver más detalles</md-tooltip>
            <md-icon md-svg-icon="chevron-down" ng-show="!entity.transient.mostrarDetallePaciente"></md-icon>
            <md-icon md-svg-icon="chevron-up" ng-show="entity.transient.mostrarDetallePaciente"></md-icon>
          </md-button>
        </span>
        <div layout="column" ng-show="entity.transient.mostrarDetallePaciente">
          <div layout="row" layout-align="start center" ng-show="entity.transient.mostrarDetallePaciente">
            <span flex="20">Última visita: </span>
            <span flex="30">01/03/2015</span>
            <span flex="20">Siguiente visita: </span>
            <span flex="30">01/03/2015</span>
          </div>
          <div layout="row" layout-align="start center" ng-show="entity.transient.mostrarDetallePaciente">
            <span flex="20">Observaciones:</span>
            <span flex> - Ninguna - </span>
          </div>
        </div>
      </div>
    </md-card-content>

  </md-card>
</md-content>