<md-menu-content layout="column" layout-align="start stretch">
    <md-menu-item>
        <md-button ui-sref="pacientes" ui-sref-active="md-accent">Pacientes</md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button ui-sref="historiasClinicas" ui-sref-active="md-accent">Historia Clínica</md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button ui-sref="obrasSociales" ui-sref-active="md-accent">Obras Sociales</md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button ui-sref="Medicamentos" ui-sref-active="md-accent">Medicamentos</md-button>
    </md-menu-item>
</md-menu-content>